{% load static %}

<footer class="footer-area">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-4  animate__animated animate__fadeInUp animate__slower ">
                <img src="{% static 'assets/image/logo-white.png' %} " class=" w-50" alt="">
                <p class=" ">“Uzinsurance” universal sug`urta kompaniyalaridan biri bo`lib, barcha
                    turdagi avtosug`urta, Uzagrosug`urta va boshqa yuridik va jismoniy shaxslarga 140 dan ortiq
                    sug`urta qilish xizmatlarini ko`rsatadi.</p>
            </div>
            <div class="col-lg-4 link_item pl-lg-3 animate__animated animate__fadeInUp animate__slower ">
                <div class="h5 pt-3">Interaktiv xizmatlar</div>
                <div><a href="" class=" ">Aholi sug'urtasi</a></div>
                <div><a href="" class=" ">Avtosug'urta</a></div>
                <div><a href="" class=" ">Mol-mulk sug'urtasi </a></div>
                <div><a href="" class=" ">Hayot sug'urtasi</a></div>

            </div>

            <div class="col-lg-4  animate__animated animate__fadeInUp animate__slower  ">
                <div class="h5 pt-3">Bog'lanish</div>
                    <p>Manzil: Toshkent shahar, Chilonzor tumani, 19-mavze 61/2-uy</p>
                    <p class=""><span>Email: </span>info@agros.uz</p>
                    <p><span>Telefon: </span>71 216-05-00</p>
                <ul class="wrap_message">
                    <li>
                        <a href=""><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href=""><span class="fab fa-telegram-plane"></span></a>
                    </li>
                    <li>
                        <a href=""><span class="fab fa-instagram"></span></a>
                    </li>
                    <li>
                        <a href=""><span class="fab fa-youtube"></span></a>
                    </li>
                </ul>
            </div>
            <hr class="header_hr">
            <div class="py-5 animate__animated animate__fadeInUp animate__slower " >
                <p class=" "><i class="far fa-copyright"></i> 2021 Uzinsurance. Barcha huquqlar himoyalangan
                </p>
            </div>

        </div>
    </div>
</footer>