{% load static %}
<header class="header">
  <div class="container-lg">
    <div class="navbar">
      <a
        href="{% url 'contract_json' %}"
        class="nav-logo animate__animated animate__slideInLeft"
      >
        <img
          src="{% static 'assets/image/logo.png' %} "
          class="header_logo"
          alt=""
        />
      </a>
      <div>
        <div class="nav-wrap">
          <ul class="nav-menu animate__animated animate__slideInRight">
            <li class="nav-item m-0">
              <a href="#" class="nav-link">Avtosug'urta</a>
              <ul class="menu_link_items">
                <li><a href="#" class="nav-link">TVEFJMS</a></li>
                <li><a href="#" class="nav-link">AGUS</a></li>
              </ul>
            </li>
            <li class="nav-item m-0">
              <a href="#" class="nav-link">Aholi </a>
              <ul class="menu_link_items">
                <li>
                  <a href="#" class="nav-link">
                    O'quvchilarni baxtsiz hodisalardan ehtiyot shart sug‘urta
                    qilish</a
                  >
                </li>
                <li>
                  <a href="#" class="nav-link">
                    Baxtsiz hodisalardan ehtiyot shart sug‘urta qilish</a
                  >
                </li>
                <li>
                  <a href="#" class="nav-link"
                    >Baxtsiz hodisalardan oilaviy ehtiyot shart sug‘urta
                    qilish</a
                  >
                </li>
                <li>
                  <a href="#" class="nav-link"
                    >Yuqumli kasalliklardan ehtiyot shart sug‘urta qilish</a
                  >
                </li>
                <li>
                  <a href="#" class="nav-link"
                    >Haydovchilarni baxtsiz hodisalardan ehtiyot shart sug‘urta
                    qilish</a
                  >
                </li>
                <li>
                  <a href="#" class="nav-link">
                    Sportchilarni baxtsiz hodisalardan ehtiyot shart sug‘urta
                    qilish
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item m-0">
              <a href="#" class="nav-link">Hayot </a>
            </li>

            <li class="nav-item m-0">
              <a href="#" class="nav-link">Mol-mulk </a>
              <ul class="menu_link_items">
                <li>
                  <a href="#" class="nav-link"
                    >Aholi turarjoy imoratlari va uy-ro‘zg‘or buyumlarini
                    kompleks sug‘urta qilish</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</header>
